<div class="w-full text-base active:text-white">
  <input type="text" placeholder="Search recipes..." [formControl]="searchControl" [matAutocomplete]="auto" #search="matAutocompleteTrigger" 
  class='form-input text-black' (keyup.enter)='search.closePanel();onPressEnter(searchControl?.value)'>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='onSelectSearch($event?.option?.value?.display)'>
    <mat-option *ngFor="let result of results | async" [value]="result">
      {{ result.display }}
    </mat-option>
  </mat-autocomplete>
</div>