<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class='ml-2'>My Recipes Assistant</span>
      <span class="spacer"></span>

    </mat-toolbar>
    <div class="container mx-auto px-5 py-5">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar color="primary" >
  <div class="w-8/12 sm:w-6/12 md:w-2/6 lg:w-1/6 mr-auto">
    <h1 id='app-title' class='text-white text-base cursor-pointer' routerLink='/'>My Recipes Assistant</h1>
  </div>
  <div class="w-2/12 sm:w-1/12 md:w-2/6 lg:w-2/6 ml-auto">
    <app-search [handset]='(isHandset$ | async)'></app-search>
  </div>
</mat-toolbar>

<div class="container mx-auto px-5 py-5">
  <ng-content></ng-content>
</div>