.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  position: sticky;
  top: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 100px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container{
  min-height: 100vh;
}