html, body { height: 100%; }
<<<<<<< HEAD
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:rgb(225, 225, 225);}
=======
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> c5aaea40f931c378f1e0273504b87df8983f7e66

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-red, 400);
$candy-app-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
/* You can add global styles to this file, and also import other style files */
.full-width{
  width: 100%;
}
.spacer{
  flex: 1 1 auto;
}
.thumbnail-image-container{
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
/* [2] Transition property for smooth transformation of images */
.thumbnail-image-container img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.thumbnail-image-container:hover img, .preview-container:hover img {
  transform: scale(1.2);
}

